/* Section/Article */

	section > .last-child, section.last-child,
	article > .last-child,
	article.last-child {
		margin-bottom: 0;
	}

/* Banner */

	#banner {
		background-image: url("../../images/banner.gif");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: auto;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		#banner .inner {
			background: #341b2b;
		}

/* CTA */

	#cta {
		background-image: url("../../images/banner-bottom.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: auto;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}
